html, body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* 重置 组件样式 */
.grade .ant-tag {
  margin-left: 16px !important;
}

.ant-steps {
  padding: 0 25px !important;
}

.editorClassName {
  border: 1px solid #eee;
  height: 300px;
}
